<h3>New member has joined!</h3>
<p><strong>Email:</strong>&nbsp;&nbsp;<%= @summary.user.email %></p>
<p><strong>Name:</strong>&nbsp;&nbsp;<%= @summary.user.fname %>&nbsp;<%= @summary.user.lname%></p>
<p><strong>Plan:</strong>&nbsp;&nbsp;<%= @summary.subscription.plan.name %>&nbsp;<%= @summary.subscription.plan.plan_type %></p>
