<div>
  <div><strong>Date:</strong> <%= @date %></div>
  <div><strong>Menu:</strong> <%= @meal[:name] %></div>
  <div><strong>Meal:</strong> <%= @order_type %></div>
  <div><strong>Total Number of Orders:</strong> <%= @reservations.length %></div>
  <br/>
  <div>
    <% @orders_summary.each do |time| %>
      <% unless time[:pickupCodes].empty? %>
      <strong><%= time[:start] %> - <%= time[:end] %> (<%= time[:pickupCodes].length %>)</strong><br/>
        <% time[:pickupCodes].each do | code | %>
        <%= code %><br/>
        <% end %>
        <br/>
      <% end %>
    <% end %>
  </div>
</div>