<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#0f346c">
  <title>BluePlattr</title>

  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key="+Rails.application.credentials.google[:api_key] %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "https://js.stripe.com/v3/", "application" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="description" content="The Ultimate Meal Plan Service">
  
  <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Poppins|Raleway|Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="<%= image_url('favicon.png') %>"/>

  <script src="https://kit.fontawesome.com/cdcef1b332.js" crossorigin="anonymous"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <%# <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154138828-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-154138828-1');
  </script> %>
</head>

<body>
<!-- Load Facebook SDK for JavaScript -->
  <% unless logged_in? %>
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v5.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- Facebook customer chat code -->
    <div class="fb-customerchat"
      attribution=setup_tool
      page_id="108123240683696"
      theme_color="#0f346c">
    </div>
  <% end %>

  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>

  <% if logged_in? %>
    <script type="text/javascript">
      window.currentUser =
      <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
    </script>
  <% end %>

  <!--
      This HTML file is a template.
      If you open it directly in the browser, you will see an empty page.

      You can add webfonts, meta tags, or analytics to this file.
      The build step will place the bundled scripts into the <body> tag.

      To begin the development, run `npm start` or `yarn start`.
      To create a production bundle, use `npm run build` or `yarn build`.
    -->
    <%= yield %>    
</body>

</html>